.main__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: var(--color-grey-2);
    color: var(--color-grey-6);

}

.error__container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 21%;

    gap: 20px;
}

.error__title{
    font-size: 38px;
    font-weight: 700;

    padding-bottom: 30px;
}

.error__description{
    font-size: 16px;
    font-weight: 400;
}

.span__bold{
    font-weight: bold;
}

.error__button{
    padding: 12px;

    font-size: 18px;
    font-weight: 600;

    border-radius: 8px;
    border-color: transparent;

    background-color: var(--color-brand-2);
    color: var(--color-grey-6);
}

.error__image{
    display: flex;
    justify-content: center;

    width: 500px;
    height: 450px;
}
